body {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-family: "Monoton", cursive;
}
body,
html {
  height: 100%;
  width: 100%;
}
.wrapper {
  position: relative;
}
.bgimg {
  background-image: url("/img/production_office.png");
  /* min-height: 100%; */
  height: 100%;
  background-position: center;
  background-size: cover;
}
.main-conatainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}
.header {
  font-size: 4rem;
}
.desc {
  font-size: 1.125rem;
  color: #ffffff;
}
.hr-break {
  margin: 0.5rem auto;
  width: 40%;
}
.logo {
  height: 100%;
  width: 10rem;
}
.contacts {
  width: 100%;
  position: fixed;
  bottom: 24px;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}
.contact--img {
  width: 40px;
}
